<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzul.appbusonquejas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/buzon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".busquedaActividad"></activity>
        <activity android:name=".actualizar" />
        <activity android:name=".buscarReporte" />
        <activity android:name=".Perfil" />
        <activity
            android:name=".vista_general"
            android:label="@string/title_activity_vista_general" />
        <activity android:name=".mis_reportes" />
        <activity android:name=".foro" />
        <activity android:name=".nuevavistageneral" />
        <activity android:name=".formularioReporte" />
        <activity
            android:name=".vistageneral"
            android:label="@string/title_activity_vista_general"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"> <!-- SplashScreen este puede estar en todas las pantallas de carga si es nesesario -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>